@use "./../abstracts/variables";

header {
  background-color: variables.$header-background;
  margin-bottom: 2em;

  .header {
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: variables.$black;
    }

    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-right: 1em;

        a {
          text-decoration: none;
          color: variables.$black;
        }
      }
    }
  }
}
