
.booksmall {
    width: 300px;
    padding: 0.5em;
    line-height: 1.8em;
    border-bottom: 1px solid grey;
    img {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 1.3em;
    }
    h2 {
        font-size: 1em;
    }
}