@use './../abstracts/variables';

.review {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    background-color: variables.$lightgrey;
    line-height: 1.6em;
    .username {
        color: variables.$read-green;
    }
    span {
        font-size: 2em;
    }

    .dates {
        margin: 1em 0;
    }
    .buttons {
        gap: 1em;
        display: flex;
    }
}

.review.deleted {
    padding: 10px;
    background-color: #ffeded;
    color: #d9534f;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.review.deleted.fade-out {
    opacity: 0;
}
