
.booksmall {
    max-width: 100%;
    width: 450px;
    padding: 0.5em;
    line-height: 1.5em;
    border-bottom: 1px solid grey;

    a {
        text-decoration: none;
        color: black;
    }
    img {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 1.1em;
    }
    h2 {
        font-size: 0.9em;
    }
}