@use "./../abstracts/variables";

button {
  padding: 0.8em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600; 

  a {
    text-decoration: none;
    color: variables.$black;
  }
}

.want-to-read {
  background-color: variables.$read-green;
  color: variables.$white;
}

.btn-update {
  @extend .want-to-read;
}

.btn-green {
  @extend .want-to-read;
}

.btn-create {
  margin: 1em 0;
  padding: 1.1em;
  background-color: variables.$black;
  color: variables.$white;
}

.btn-back {
  width: 100px;
  padding: 1.1em;
}

.btn-logout {
  float: right;
}
